<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Heroku!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to My Heroku App!</h1>
        <p>This is my best attempt at app development on Heroku. </p>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHc3cTI1M2hycXVra3hjaHU4cGJpc3oyeWJoMGN5eDUzcjJtMGt2NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VRyiBxgvy9H3y/giphy.gif" alt="Hi GIF">
    </div>
</body>
</html>
